<img src="/assets/img/lecorbusiere/lecorbusierelogo1.png" class="rounded mx-auto d-block" alt="LeCorbusiere logo">
<h1 class="text-center "> LeCorbusiere Hotel</h1>
<p>LeCorbusiere has an outdoor swimming pool, garden, a bar and tennis court. Among the facilities of this property are
  a restaurant, a 24-hour front desk and room service, along with free WiFi. The accommodation offers a shuttle service,
  while a bicycle rental service is also available. A Full English/Irish breakfast is available every morning at the
  hotel.
  LeCorbusiere offers a children's playground. You can play billiards, table tennis and darts at the accommodation, and
  the area is popular for hiking and cycling.LeCorbusiere provides a laundry service, as well as business facilities
  like fax and photocopying.
  This property also has one of the best-rated locations in Sheki! Guests are happier about it compared to other
  properties in the area.
  Couples particularly like the location — they rated it 8.9 for a two-person trip.
  This property is also rated for the best value in Sheki! Guests are getting more for their money when compared to
  other properties in this city.</p>
<div class="row">
  <div class="column">
    <a class="lightbox" href="/assets/img/lecorbusiere/lecorbusiere.jpg">
      <img src="/assets/img/lecorbusiere/lecorbusiere.jpg" alt="lecorbusiere" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/lecorbusiere/lecorbusiere2.jpg">
      <img src="/assets/img/lecorbusiere/lecorbusiere2.jpg" alt="lecorbusiere" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/lecorbusiere/lecorbusiere3.jpg">
      <img src="/assets/img/lecorbusiere/lecorbusiere3.jpg" alt="lecorbusiere" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/lecorbusiere/lecorbusiere4.jpg">
      <img src="/assets/img/lecorbusiere/lecorbusiere4.jpg" alt="lecorbusiere" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/lecorbusiere/lecorbusiere5.jpg">
      <img src="/assets/img/lecorbusiere/lecorbusiere5.jpg" alt="lecorbusiere" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/lecorbusiere/lecorbusiere6.jpg">
      <img src="/assets/img/lecorbusiere/lecorbusiere6.jpg" alt="lecorbusiere" style="width:100%">
    </a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-6 text-center">Hotel surroundings</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <th>Natural beauty</th>
          <ul class="list-group ">
            <li>Kis River 0.5 km</li>
            <li>Qafqaz Moontain 3 km</li>
          </ul>
        </div>
        <div class="col-sm">
          <th>Restaurants and markets</th>
          <ul class="list-group ">
            <li>Benovshe 0.3 km</li>
            <li>Reshid 0.4 km</li>
            <li>Ehmed Haradadir 0.6 km</li>
            <li>Bazarstore 1 km</li>
          </ul>
        </div>
        <div class="col-sm">
          <th>Closest airports</th>
          <ul class="list-group ">
            <li>Gabala International Airport 62.9 km</li>
            <li>Gyandzha Airport 89.2 km</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-light">
      <div class="container">
        <h1 class="display-6 text-center">Facilities</h1>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <th>General</th>
              <ul class="list-group ">
                <li>Air conditioning</li>
                <li>Shuttle service</li>
                <li>Grocery deliveries</li>
                <li>Soundproof rooms</li>
                <li>Shared lounge/TV area</li>
                <li>Safety deposit box</li>
              </ul>
            </div>
            <div class="col-sm">
              <th>Reception services</th>
              <ul class="list-group ">
                <li>Luggage storage</li>
                <li>Lockers</li>
                <li>Tour desk</li>
                <li>Currency exchange</li>
                <li>Express check-in/check-out</li>
                <li>24-hour front desk</li>
              </ul>
            </div>
            <div class="col-sm">
              <th>Business facielities</th>
              <ul class="list-group ">
                <li>Business centre</li>
                <li>Meeting/banquet facilities</li>

              </ul>
            </div>
            <div class="col-sm">
              <th>Languages spoken</th>
              <ul class="list-group ">
                <li>Azerbaijani</li>
                <li>English</li>
                <li>Russian</li>
                <li>French</li>
                <li>Turkish</li>
                <li>Polish</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
