<br>
<h4 class="text-center">Summary Of Buing Trip:</h4>
<br>
<div *ngIf="trip">
  <div class="container">
    <div class="row" style="font-size: small;color: darkslateblue">
      <div class="col-sm-4">
        Hotel:
      </div>
      <div class="col-sm-4">
        Board Type:
      </div>
      <div class="col-sm-4">
        Standard:
      </div>
    </div>
    <div class="row" style="font-size: medium">
      <div class="col-sm">
        {{trip.hotel.name}}
      </div>
      <div class="col-sm">
        {{trip.boardType}}
      </div>
      <div class="col-sm">
        {{trip.hotel.standard}}
      </div>
    </div>
    <div class="row" style="font-size: small;color: darkslateblue">
      <div class="col-sm">
        Departure:
      </div>
      <div class="col-sm">
        Return:
      </div>
      <div class="col-sm">
        Number of days:
      </div>
    </div>
    <div class="row" style="font-size: medium">
      <div class="col-sm">
        {{trip.departureDate}}
      </div>
      <div class="col-sm">
        {{trip.returnDate}}
      </div>
      <div class="col-sm">
        {{trip.numberOfDays}}
      </div>
    </div>
    <div class="row" style="font-size: small;color: darkslateblue">
      <div class="col-sm">
        Price:
      </div>
      <div class="col-sm">
        Promotion:
      </div>
      <div class="col-sm">
        Children Price:
      </div>
    </div>
    <div class="row" style="font-size: medium">
      <div class="col-sm">
        {{trip.adultPrice}}
      </div>
      <div class="col-sm" style="color: green">
        {{trip.promoPrice}}
      </div>
      <div class="col-sm">
        {{trip.childrenPrice}}
      </div>
    </div>
  </div>
  <form [formGroup]="addVisitors" (ngSubmit)="onSubmit()">
<br>
    <div class="row "style="font-size: small;color: darkslateblue">
      <div class="col-sm-4">
        <label class="text-center" for="firstName"> First name 
        <input class="form-control" id="firstName" formControlName="firstName">
      </label>
      </div>
      <div class="col-sm-4">
        <label class="text-center" for="lastName"> Last name 
        <input class="form-control" id="lastName" formControlName="lastName">
      </label>
      </div>
      <div class="col-sm-4">
        <label class="text-center" for="age"> Age
        <input type="number" class="form-control" id="age" formControlName="lastName">
      </label>
      </div>
    </div>
    <div class="row "style="font-size: small;color: darkslateblue">
      <div class="col-sm-4">
        <label class="text-center" for="street"> Street 
        <input class="form-control" id="street" formControlName="street">
      </label>
      </div>
      <div class="col-sm-4">
        <label class="text-center" for="streetNr"> Street number 
          <input class="form-control" id="streetNr" formControlName="streetNr">
        </label>
      </div>
      <div  class="col-sm-4">
        <label class="text-center" for="city"> City
            <input class="form-control" id="city" formControlName="city">
           </label>
      </div>
      <div class="col-sm-4">
        <label class="text-center" for="zipCode"> Zip Code 
            <input class="form-control" id="zipCode" formControlName="zipCode">
        </label>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-4">
        If everything is correct accept:
      </div>
      <div class="col-sm-4">
        <button routerLink="/cart" type="submit" class="btn btn-primary btn-lg btn-block">PAY</button>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="goBack()">BACK</button>
      </div>
    </div>
  </form>


</div>






