<img src="/assets/img/hilton/hiltonlogo.png" class="rounded mx-auto d-block" alt="Hilton logo">
<h1 class="text-center "> London Hilton on Park Lane</h1>
<h2 class="text-center font-weight-bold">Stay in the heart of London</h2>
<p>Located on prestigious Park Lane in Mayfair, the London Hilton on Park Lane Hotel boasts stunning views of Hyde Park,
  Knightsbridge and Westminster. With 453 rooms and suites, this award-winning 5-star luxury hotel also has a stylish
  bar and a Michelin-starred restaurant.</p>

<div class="row">
  <div class="column">
    <a class="lightbox" href="/assets/img/hilton/hilton.jpg">
      <img src="/assets/img/hilton/hilton.jpg" alt="hiltonfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/hilton/hilton2.jpg">
      <img src="/assets/img/hilton/hilton2.jpg" alt="hiltonfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/hilton/hilton3.jpg">
      <img src="/assets/img/hilton/hilton3.jpg" alt="hiltonfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/hilton/hilton4.jpg">
      <img src="/assets/img/hilton/hilton4.jpg" alt="hiltonfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/hilton/hilton5.jpg">
      <img src="/assets/img/hilton/hilton5.jpg" alt="hiltonfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/hilton/hilton6.jpg">
      <img src="/assets/img/hilton/hilton6.jpg" alt="hiltonfoto" style="width:100%">
    </a>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-6 text-center">Hotel surroundings</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <th>Closest landmarks</th>
          <ul class="list-group ">
            <li>Hyde Park Corner 0.2 km</li>
            <li>Green Park 0.5 km</li>
            <li>Buckingham Palace 0.8 km</li>
            <li>Royal Academy of Arts 0.8 km</li>
            <li>Lancaster House 0.9 km</li>
            <li>Big Ben 1.9 km</li>
            <li>London Eye 2.2 km</li>
            <li>Tower of London 5.1 km</li>
          </ul>
        </div>
        <div class="col-sm">
          <th>Restaurants and markets</th>
          <ul class="list-group ">
            <li>Caffe' Nero 0.3 km</li>
            <li>Tesco 0.3 km</li>
            <li>Shepherd Market 0.3 km</li>
          </ul>
        </div>
        <div class="col-sm">
          <th>Closest airports</th>
          <ul class="list-group ">
            <li>London City Airport 19.9 km</li>
            <li>London Heathrow Airport 21.2 km</li>
            <li>Gatwick Airport 38.7 km</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-light">
      <div class="container">
        <h1 class="display-6 text-center">Facilities</h1>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <th>General</th>
              <ul class="list-group ">
                <li>Air conditioning</li>
                <li>Non-smoking throughout</li>
                <li>Car hire</li>
                <li>Soundproof rooms</li>
                <li>Lift</li>
                <li>Safety deposit box</li>
              </ul>
            </div>
            <div class="col-sm">
              <th>Reception services</th>
              <ul class="list-group ">
                <li>Luggage storage</li>
                <li>Ticket service</li>
                <li>Tour desk</li>
                <li>Currency exchange</li>
                <li>Express check-in/check-out</li>
                <li>24-hour front desk</li>
              </ul>
            </div>
            <div class="col-sm">
              <th>Business facielities</th>
              <ul class="list-group ">
                <li>Business centre</li>
                <li>Meeting/banquet facilities</li>

              </ul>
            </div>
            <div class="col-sm">
              <th>Languages spoken</th>
              <ul class="list-group ">
                <li>German</li>
                <li>English</li>
                <li>Spanish</li>
                <li>French</li>
                <li>Swedish</li>
                <li>Polish</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
