<h1>All trips</h1>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Daparture Date</th>
          <th scope="col">Home Airport</th>
          <th scope="col">Return Date</th>
          <th scope="col">Destination Airport</th>
          <th scope="col">Days</th>
          <th scope="col">Type Of Board</th>
          <th scope="col">Hotel</th>
          <th scope="col">Price - Adult</th>
          <th scope="col">Vacancy - Adult</th>
          <th scope="col">Price - Children</th>
          <th scope="col">Vacancy - Children</th>
          <th scope="col">Promotion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trip of trips">
          <td>{{ trip.departureDate }}</td>
          <td *ngIf="trip.homeAirport!=null; else noAirport"> {{ trip.homeAirport.name }}</td>
          <td>{{ trip.returnDate }}</td>
          <td *ngIf="trip.homeAirport!=null; else noAirport">{{ trip.destinAirport.name }}</td>
          <td>{{ trip.numberOfDays }}</td>
          <td>{{ trip.boardType }}</td>
          <td>{{ trip.hotel.name }}</td>
          <td>{{ trip.adultPrice }}</td>
          <td>{{ trip.adultVacancy }}</td>
          <td>{{ trip.childrenPrice }}</td>
          <td>{{ trip.childrenVacancy }}</td>
          <td>{{ trip.promoPrice }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noAirport>Local trip</ng-template>
</div>
