<nav class="menu"></nav>

<h1>Add new trip</h1>
<form [formGroup]="addTripForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <label for="boardType">Board type</label>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'BB'" id="boardType"
                 formControlName="boardType"> Bed and Breakfast
        </div>
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'HB'" id="boardType"
                 formControlName="boardType"> Half Board <em>Breakfast and Dinner normally</em>
        </div>
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'FB'" id="boardType"
                 formControlName="boardType"> Full Board <em>Beakfast, Lunch and Dinner</em>
        </div>
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'AI'" id="boardType"
                 formControlName="boardType"> All Inclusive <em>All services of full board +</em>
        </div>
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'RO'" id="boardType"
                 formControlName="boardType"> Room Only
        </div>
      </div>
      <div class="col-sm-4">
        <!--<div class="alert alert-secondary" *ngIf="!boardType.valid"> Required</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="hotel"> Hotel</label>
      </div>
      <div class="col-sm-4">
        <select class="form-control" id="hotel" formControlName="hotel" required>
          <option *ngFor="let hotel of hotels" [value]="hotel.name">{{hotel.name}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <!--<small *ngIf="!hotel.valid && hotel.dirty"> Field required</small>-->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <label for="departureDate"> Departure date </label>
      </div>
      <div class="col-sm-4">
        <input class="form-control" type="date" id="departureDate" formControlName="departureDate">
      </div>
      <div class="col-sm-4">
        <!--<small *ngIf="!departureDate.valid && departureDate.dirty"> Field required</small>-->
        <!--<div *ngIf="isDatesOrderValid(startDepartureDate,departureDate)"> Departure Date shouldn't be in the past</div>-->
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <label for="returnDate"> Return date </label>
      </div>
      <div class="col-sm">
        <input class="form-control" type="date" id="returnDate" formControlName="returnDate"></div>
      <div class="col-sm">
        <!--<div *ngIf="!returnDate.valid && returnDate.dirty"> Field required</div>-->
        <!--<div *ngIf="isDatesOrderValid(departureDate.value,returnDate.value)"> Return date should be after departure date </div>-->
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <label for="numberOfDays"> Number of days </label>
      </div>
      <div class="col-sm">
        <input type="number" class="form-control" id="numberOfDays" formControlName="numberOfDays">
      </div>
      <div class="col-sm">
        <!--<div *ngIf="!numberOfDays.valid && numberOfDays.dirty"> Field required</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="homeAirport"> Home airport </label></div>
      <div class="col-sm-4">
        <select class="form-control" id="homeAirport" formControlName="homeAirport">
          <option *ngFor="let airport of airports" [value]="airport.name">{{airport.name}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <!--<small *ngIf="!homeAirport.valid && homeAirport.dirty"> Field required</small>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="destinAirport"> Destination airport </label>
      </div>
      <div class="col-sm">
        <select class="form-control" id="destinAirport" formControlName="destinAirport">
          <option *ngFor="let airport of airports" [value]="airport.name">{{airport.name}}</option>
        </select>
      </div>
      <div class="col-sm">
        <!--<div *ngIf="!destinAirport.valid && destinAirport.dirty"> Field required</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="adultPrice"> Price for an adult </label>
      </div>
      <div class="col-sm">
        <input type="number" class="form-control" id="adultPrice" formControlName="adultPrice">
      </div>
      <div class="col-sm">
        <!--<div *ngIf="!adultPrice.valid && adultPrice.dirty"> Field required</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="childrenPrice"> Price for a child </label>
      </div>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="childrenPrice" formControlName="childrenPrice">
      </div>
      <div class="col-sm-4">
        <!--<div *ngIf="!childrenPrice.valid && childrenPrice.dirty">Field required</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="promoPrice"> Price in promotion </label>
      </div>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="promoPrice" formControlName="promoPrice" >
      </div>
      <div class="col-sm-4">
        <!--<div *ngIf="!promoPrice.valid && promoPrice.dirty"> Field required</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="adultVacancy"> Vacancy for adults </label>
      </div>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="adultVacancy" formControlName="adultVacancy">
      </div>
      <div class="col-sm-4">
        <!--<small *ngIf="!adultVacancy.valid && adultVacancy.dirty"> Field required</small>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="childrenVacancy"> Vacancy for children </label>
      </div>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="childrenVacancy" formControlName="childrenVacancy">
      </div>
      <div class="col-sm-4">
        <!--<div class="alert alert-secondary" *ngIf="!childrenVacancy.valid && childrenVacancy.dirty">Field required</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label> Click to save </label>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary btn-lg btn-block"> ADD TRIP </button>
      </div>
      <div class="col-sm-4">
        <!--<div class="alert alert-success" *ngIf="addTripForm.valid"><h3>All fields valid </h3></div>-->
      </div>
    </div>
  </div>
</form>

