<nav class="menu"></nav>

<h1>Add new trip</h1>
<form [formGroup]="addTripForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <label for="boardType">Board type</label>
      </div>
      <div class="col-sm-4">
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'BB'" id="boardType"
                 formControlName="boardType"> Bed and Breakfast
        </div>
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'HB'" id="boardType"
                 formControlName="boardType"> Half Board <em>Breakfast and Dinner normally</em>
        </div>
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'FB'" id="boardType"
                 formControlName="boardType"> Full Board <em>Beakfast, Lunch and Dinner</em>
        </div>
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'AI'" id="boardType"
                 formControlName="boardType"> All Inclusive <em>All services of full board +</em>
        </div>
        <div class="col-sm-12">
          <input class="form-check-input" type="radio" [value]="'RO'" id="boardType"
                 formControlName="boardType"> Room Only
        </div>
      </div>
      <div class="col-sm-4">
        <!--<div class="alert alert-secondary" *ngIf="addTripForm.get('boardType').errors-->
        <!--&& addTripForm.get('boardType').errors.required"> Required</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="hotel"> Hotel</label>
      </div>
      <div class="col-sm-4">
        <select class="form-control" id="hotel" formControlName="hotel">
          <option *ngFor="let hotel of hotels" [value]="hotel.name">{{hotel.name}}</option>
        </select>
      </div>
      <div class="col-sm-4">

      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <label for="departureDate"> Departure date </label>
      </div>
      <div class="col-sm-4">
        <input class="form-control" type="date" id="departureDate" formControlName="departureDate">{{minDepartureDate}}
      </div>
      <div class="col-sm-4">
        <!--<small *ngIf="addTripForm.value.departureDate.invalid && addTripForm.value.departureDate.dirty"> Field required</small>-->
        <!--<div *ngIf="isDatesOrderValid(startDepartureDate,departureDate)"> Departure Date shouldn't be in the past</div>-->
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <label for="returnDate"> Return date </label>
      </div>
      <div class="col-sm">
        <input class="form-control" type="date" id="returnDate" formControlName="returnDate"></div>
      <div class="col-sm">
        <!--<div *ngIf="addTripForm.value.returnDate.invalid && addTripForm.value.returnDate.dirty"> Field required</div>-->
        <!--<div *ngIf="isDatesOrderValid(departureDate.value,returnDate.value)"> Return date should be after departure date </div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="numberOfDays"> Number of days </label>
      </div>
      <div class="col-sm">
        <input type="number" class="form-control" id="numberOfDays" formControlName="numberOfDays">
      </div>
      <div class="col-sm">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="homeAirport"> Home airport </label></div>
      <div class="col-sm-4">
        <select class="form-control" id="homeAirport" formControlName="homeAirport">
          <option *ngFor="let airport of airports" [value]="airport.name">{{airport.name}}</option>
        </select>
      </div>
      <div class="col-sm-4">

      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="destinAirport"> Destination airport </label>
      </div>
      <div class="col-sm">
        <select class="form-control" id="destinAirport" formControlName="destinAirport">
          <option *ngFor="let airport of airports" [value]="airport.name">{{airport.name}}</option>
        </select>
      </div>
      <div class="col-sm">

      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="adultPrice"> Price for an adult </label>
      </div>
      <div class="col-sm">
        <input type="number" class="form-control" id="adultPrice" formControlName="adultPrice"
       (ngModelChange)="setTripMaxPrice($event)" >
      </div>
      <div class="col-sm">
        <small *ngIf="addTripForm.get('adultPrice').errors && addTripForm.get('adultPrice').errors.required">
          Field required
        </small>
        <small *ngIf="addTripForm.get('adultPrice').errors && addTripForm.get('adultPrice').errors.max">
          Maximal value: 20 000 pln
        </small>
        <small *ngIf="addTripForm.get('adultPrice').errors && addTripForm.get('adultPrice').errors.min">
          Minimal value: 1 pln
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="childrenPrice"> Price for a child </label>
      </div>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="childrenPrice" formControlName="childrenPrice">
      </div>
      <div class="col-sm-4">
        <small *ngIf="addTripForm.get('childrenPrice').errors && addTripForm.get('childrenPrice').errors.required">
          Field required
        </small>
        <small *ngIf="addTripForm.get('childrenPrice').errors && addTripForm.get('childrenPrice').errors.max">
          Value must be lower than price for adults
        </small>
        <small *ngIf="addTripForm.get('childrenPrice').errors && addTripForm.get('childrenPrice').errors.min">
          Minimal value: 1 pln
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="promoPrice"> Price in promotion </label>
      </div>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="promoPrice" formControlName="promoPrice">
      </div>
      <div class="col-sm-4">
        <small *ngIf="addTripForm.get('promoPrice').errors && addTripForm.get('promoPrice').errors.required">
          Field required
        </small>
        <small *ngIf="addTripForm.get('promoPrice').errors && addTripForm.get('promoPrice').errors.max">
          Value must be lower than price for adults
        </small>
        <small *ngIf="addTripForm.get('promoPrice').errors && addTripForm.get('promoPrice').errors.min">
          Minimal value: 1 pln
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="adultVacancy"> Vacancy for adults </label>
      </div>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="adultVacancy" formControlName="adultVacancy">
      </div>
      <div class="col-sm-4">
        <small *ngIf="addTripForm.get('adultVacancy').errors && addTripForm.get('adultVacancy').errors.required">
          Field required
        </small>
        <small *ngIf="addTripForm.get('adultVacancy').errors && addTripForm.get('adultVacancy').errors.max">
          Vacancy value should be lower than 100
        </small>
        <small *ngIf="addTripForm.get('adultVacancy').errors && addTripForm.get('adultVacancy').errors.min">
          Vacancy value shouldn't be negative
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="childrenVacancy"> Vacancy for children </label>
      </div>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="childrenVacancy" formControlName="childrenVacancy">
      </div>
      <div class="col-sm-4">
        <small *ngIf="addTripForm.get('childrenVacancy').errors && addTripForm.get('childrenVacancy').errors.required">
          Field required
        </small>
        <small *ngIf="addTripForm.get('childrenVacancy').errors && addTripForm.get('childrenVacancy').errors.max">
          Vacancy value should be lower than 100
        </small>
        <small *ngIf="addTripForm.get('childrenVacancy').errors && addTripForm.get('childrenVacancy').errors.min">
          Vacancy value shouldn't be negative
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label> Click to save </label>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary btn-lg btn-block"> ADD TRIP</button>
      </div>
      <div class="col-sm-4">
        <div class="alert alert-success" *ngIf="addTripForm.valid"><h2>All fields valid </h2></div>
      </div>
    </div>
  </div>
</form>

