<img src="/assets/img/zacisze/zaciszelogo.png" class="rounded mx-auto d-block" alt="Zacisze logo">
<h1 class="text-center "> Hotel Zacisze Wąchock</h1>
<p>Zacisze Hotel is a new, comfortable building located in the city center of Wąchock.
  A unique place for individual and business guests, as well as families with children. Surroundings of the hotel allow
  you to find a moment of peace, relax, get away from the noise and breathe in the fresh mountain air. We guarantee a
  pleasant atmosphere, quality service, comfort and delicious cuisine.
  The hotel contains 10 accommodation units: 2 standard rooms, 7 studio rooms and a suit. There is also a restaurant and
  conference & banquet hall.</p>
<div class="row">
  <div class="column">
    <a class="lightbox" href="/assets/img/zacisze/zacisze.jpg">
      <img src="/assets/img/zacisze/zacisze.jpg" alt="zaciszefoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/zacisze/zacisze2.jpg">
      <img src="/assets/img/zacisze/zacisze2.jpg" alt="zaciszefoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/zacisze/zacisze3.jpg">
      <img src="/assets/img/zacisze/zacisze3.jpg" alt="zaciszefoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/zacisze/zacisze4.jpg">
      <img src="/assets/img/zacisze/zacisze4.jpg" alt="zaciszefoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/zacisze/zacisze5.jpg">
      <img src="/assets/img/zacisze/zacisze5.jpg" alt="zaciszefoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/zacisze/zacisze6.jpg">
      <img src="/assets/img/zacisze/zacisze6.jpg" alt="zaciszefoto" style="width:100%">
    </a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-6 text-center">Hotel surroundings</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <th>Closest landmarks</th>
          <ul class="list-group ">
            <li>Piast - Przyłęków 11 km</li>
            <li>Jastrzebica Ski Lift 11.1 km</li>
            <li>Hala Skrzyczenska-Małe Skrzyczne 1.3 km</li>
            <li>Duży Rachowiec Ski Lift 15.4 km</li>
            <li>Polana Zielenska - Wisła 2.3 km</li>
          </ul>
        </div>
        <div class="col-sm">
          <th>Natural beauty</th>
          <ul class="list-group ">
            <li>Soła River 0.0 km</li>
            <li>Żywieckie Lake 0.3 km</li>
          </ul>
        </div>
        <div class="col-sm">
          <th>Closest airports</th>
          <ul class="list-group ">
            <li>Ostrava Leos Janacek Airport 71.6 km</li>
            <li>John Paul II International Airport Kraków–Balice 72.4 km</li>
            <li>Katowice Airport 96.7 km</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-light">
      <div class="container">
        <h1 class="display-6 text-center">Facilities</h1>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <th>General</th>
              <ul class="list-group ">
                <li>Air conditioning</li>
                <li>Non-smoking throughout</li>
                <li>Designated smoking area</li>
                <li>Family rooms</li>
                <li>Packed lunches</li>
                <li>Safety deposit box</li>
              </ul>
            </div>
            <div class="col-sm">
              <th>Reception services</th>
              <ul class="list-group ">
                <li>Luggage storage</li>
                <li>Ticket service</li>
                <li>Express check-in/check-out</li>
                <li>24-hour front desk</li>
              </ul>
            </div>
            <div class="col-sm">
              <th>Business facielities</th>
              <ul class="list-group ">
                <li>Business centre</li>
                <li>Meeting/banquet facilities</li>

              </ul>
            </div>
            <div class="col-sm">
              <th>Pool and Wellness</th>
              <ul class="list-group ">
                <li>Swimming pool</li>
                <li>Fitness/spa locker rooms</li>
                <li>Full body massage</li>
                <li>Hot tub/jacuzzi</li>
                <li>Beauty Services</li>
                <li>Spa lounge/relaxation area</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
