<img src="/assets/img/marriottlogo.png" class="rounded mx-auto d-block" alt="Mariott logo">
<h1 class="text-center "> Paris Mariott Ambasador Hotel</h1>
<h2 class="text-center font-weight-bold">Create lasting memories at our Paris Opera District hotel</h2>
<p>Paris Marriott Opera Ambassador Hotel welcomes you to the City of Light with contemporary style, superb service and a
  wonderful location. Our hotel is situated on the Boulevard Haussmann, in the heart of the Opera District; attractions
  including the Opera Garnier and Galeries Lafayette are moments away. Meticulously designed, Art Deco-inspired
  accommodation offers stylish furnishings, complimentary Wi-Fi and sleek, well-lit bathrooms. Additional amenities
  include a modern gym and an Executive Lounge for guests reserving upgraded rooms and suites. Visit 16 Haussmann, our
  signature restaurant, for artfully prepared French dishes in a welcoming atmosphere. With several versatile venues, we
  are a premier destination for business meetings and intimate social events. You'll be thrilled with our close
  proximity to many of the city's most exciting things to see and do. We look forward to your stay at Paris Marriott
  Opera Ambassador Hotel.</p>


<div class="row">
  <div class="column">
    <a class="lightbox" href="/assets/img/mariott.jpg">
      <img src="/assets/img/mariott.jpg" alt="mariottfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/mariott1.jpg">
      <img src="/assets/img/mariott1.jpg" alt="mariottfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/mariott2.jpg">
      <img src="/assets/img/mariott2.jpg" alt="mariottfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/mariott3.jpg">
      <img src="/assets/img/mariott3.jpg" alt="mariottfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/mariott4.jpg">
      <img src="/assets/img/mariott4.jpg" alt="mariottfoto" style="width:100%">
    </a>
  </div>
  <div class="column">
    <a class="lightbox" href="/assets/img/mariott5.jpg">
      <img src="/assets/img/mariott5.jpg" alt="mariottfoto" style="width:100%">
    </a>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-6 text-center">Hotel surroundings</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <th>Closest landmarks</th>
          <ul class="list-group ">
            <li>Opéra-Comique 0.2 km</li>
            <li>Richelieu Drouot Metro Station 0.2 km</li>
            <li>Louvre Museum 1.3 km</li>
            <li>Gare du Nord 1.6 km</li>
            <li>Notre Dame Cathedral 2.3 km</li>
          </ul>
        </div>
        <div class="col-sm">
          <th>Restaurants</th>
          <ul class="list-group ">
            <li>Le Barramund 0.3 km</li>
            <li>La Taverne 0.3 km</li>
            <li>Starbucks coffee 0.3 km</li>
            <li>16H 0 km</li>
            <li>Corner Haussman 0.3 km</li>
          </ul>
        </div>
        <div class="col-sm">
          <th>Closest airports</th>
          <ul class="list-group ">
            <li>Paris - Orly Airport</li>
            <li>Paris - Charles de Gaulle Airport</li>
            <li>Paris Beauvais-Tille Airport</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-light">
      <div class="container">
        <h1 class="display-6 text-center">Facilities</h1>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <th>General</th>
              <ul class="list-group ">
                <li>Air conditioning</li>
                <li>Non-smoking throughout</li>
                <li>Car hire</li>
                <li>Soundproof rooms</li>
                <li>Lift</li>
                <li>Safety deposit box</li>
              </ul>
            </div>
            <div class="col-sm">
              <th>Reception services</th>
              <ul class="list-group ">
                <li>Luggage storage</li>
                <li>Ticket service</li>
                <li>Tour desk</li>
                <li>Currency exchange</li>
                <li>Express check-in/check-out</li>
                <li>24-hour front desk</li>
              </ul>
            </div>
            <div class="col-sm">
              <th>Business facielities</th>
              <ul class="list-group ">
                <li>Business centre</li>
                <li>Meeting/banquet facilities</li>

              </ul>
            </div>
            <div class="col-sm">
              <th>Languages spoken</th>
              <ul class="list-group ">
                <li>German</li>
                <li>English</li>
                <li>Spanish</li>
                <li>French</li>
                <li>Swedish</li>
                <li>Polish</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

